.DS_Store
ampliconDIVider-master
simulation
src/psl2sam.pl
src/CrispRVariants_paper_cache
src/CrispRVariants_paper_files
Cho_data
Burger_MiSeq_data
merged_split
split_merged
fastq
idx
bam
results/test
